<%
locals.OLSKPageAssets = [
	'/node_modules/normalize.css/normalize.css',
	'/node_modules/OLSKDecor/ui-style.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<div class="OLSKViewport">

<div class="OLSKViewportContent">

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

</div>

<p>
	<strong>OLSKCatalogDispatchArchivedHide</strong>
	<span id="TestOLSKCatalogDispatchArchivedHide">0</span>
</p>

<p>
	<strong>OLSKCatalogDispatchArchivedShow</strong>
	<span id="TestOLSKCatalogDispatchArchivedShow">0</span>
</p>

<p>
	<strong>OLSKCatalogDispatchFilterSubmit</strong>
	<span id="TestOLSKCatalogDispatchFilterSubmit">0</span>
	<span id="TestOLSKCatalogDispatchFilterSubmitData">undefined</span>
</p>

<p>
	<strong>OLSKCatalogDispatchQuantity</strong>
	<span id="TestOLSKCatalogDispatchQuantity">0</span>
	<span id="TestOLSKCatalogDispatchQuantityData">0</span>
</p>

<p>
	<strong>OLSKCatalogDispatchEscapeOnEmpty</strong>
	<span id="TestOLSKCatalogDispatchEscapeOnEmpty">0</span>
</p>

<p>
	<strong>OLSKCatalogDispatchStash</strong>
	<span id="TestOLSKCatalogDispatchStash">0</span>
	<span id="TestOLSKCatalogDispatchStashData">undefined</span>
</p>

</div>
